.container{
    width: 100%;
    display: grid;
}
.top {
    background-color: black;
    color: white;
    text-align: center;
}
.mid1{
    background-color: white;
}
.mid2 {
    background: rgb(171, 164, 164);
}
.main{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
@media (min-width: 600px){
    .main{
        flex-direction: row;
    }
}
@media (min-width: 900px){
    .top{
        padding: 20px;
        font-size: 1.3em;
    }
    .mid1{
        flex-grow: 3;
    }
    .mid2{
        flex-grow: 1;
    }
}